* {  box-sizing: border-box;
}
body {  font-family: Arial, Helvetica, sans-serif; }

/* Estilo del encabezado */
.header {
  background-color: #115573;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  border-radius:15px;
  margin:0.5%;
  box-shadow:
       outset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  color: white;
}

/* Create 3 columnas */
.column1  {
  float: left;
  width: 30%;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
  background-color:#D4D3D3;
  border-radius:15px;
  margin:0.5%;
  box-shadow:
       outset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.column2 {
  float: right;
  width: 68%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
  background-color: #F0EDEC;
  border-radius:15px;
  margin-right:0.5%;
  margin-top:0.5%;
  margin-bottom:0.5%;
  box-shadow:
       outset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* Clear floats after the columns */
.fila:after {
  content: "";
  display: table;
  clear: both;
  margin:0.5%;

}

/* Style the footer */
.footer {
  background-color: #115573;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius:15px;
  margin:0.5%;
  box-shadow:
       outset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.avatar {
  width: 60%;
  border-radius:10px;
  border: 6px solid;
  border-color:#999;
}
.